<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:with="currentPage='reservation'">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Autoservis" />
		<meta name="author" content="" />
		<meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
		<!--  <link rel="icon" href="../../favicon.ico" />-->
		
		<title>Autoservis</title>
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		
<!-- 		<th:block layout:fragment="javascript"> -->
<!-- 			<script type="text/javascript" th:src="@{/bower_components/jquery/dist/jquery.min.js}" -->
<!-- 				src="../../bower_components/jquery/dist/jquery.min.js"></script> -->
<!-- 			<script type="text/javascript" th:src="@{/bower_components/datatables/media/js/jquery.dataTables.js}" -->
<!-- 				src="../../bower_components/datatables/media/js/jquery.dataTables.js"></script> -->
<!-- 			<script type="text/javascript" th:src="@{/bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.js}" -->
<!-- 				src="../../bower_components/datatables-plugins-bootstrap3/dist/js/datatables-plugins-bootstrap3.js"></script> -->
<!-- 			<script type="text/javascript" th:src="@{/js/index-datatables.js}" src="../../js/index-datatables.js"></script> -->
<!-- 			<script type="text/javascript" th:src="@{/dist/js/bootstrap.min.js}" src="../../dist/js/bootstrap.min.js"></script> -->
<!-- 		</th:block> -->
<!-- 		<th:block layout:fragment="stylesheet"> -->
<!-- 			<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}" href="../../dist/css/bootstrap.min.css" /> -->
<!-- 			<link rel="stylesheet" th:href="@{/css/style.css}" href="../../css/style.css" /> -->
<!-- 			<link rel="stylesheet" th:href="@{/bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css}" -->
<!-- 				href="../../bower_components/datatables-plugins-bootstrap3/dist/css/datatables-plugins-bootstrap3.css" /> -->
<!-- 			<link rel="stylesheet" th:href="@{/dist/css/bootstrap.min.css}" href="../../dist/css/bootstrap.min.css" /> -->
<!-- 		</th:block> -->
	</head>
	
	<body>
		<div th:include="fragments/header::navigation"></div>
	
		<div class="container">
			<div class="row">
				<br />
				<h2>Izmjena poslovnice:</h2>
				<br /> <br />
			</div>
	
			<div class="row">
				<div class="col-md-7">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="control-label col-sm-3" for="stationName">Naziv
								poslovnice:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="stationName"
									placeholder="Station name" th:value="${station.stationName}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="stationAddress">Adresa:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="stationAddress"
									placeholder="Station Address" th:value="${station.address}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="stationManager">Voditelj:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="stationManager"
									placeholder="Station manager"
									th:value="${station.manager.firstName + ' ' + station.manager.lastName}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="openFrom">Otvoreno
								od:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="openFrom"
									placeholder="Station open from" th:value="${station.openFrom}" />
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-3" for="openUntil">Otvoreno
								do:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="openUntil"
									placeholder="Station open until" th:value="${station.openUntil}" />
							</div>
						</div>
						<br/>
						<div class="mps" th:id="map" th:attr="data-cords=${station.getGeolocation()}"></div>
						<br />
						<br />
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-primary pull-right">Izmijeni</button>
								<br /> <br /> <br />
							</div>
						</div>
					</form>
	
				</div>
			</div>
	
		</div>
	
		<footer class="footer-bottom" th:include="fragments/footer :: footer-private"></footer>
		
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCsX31cauYAj-4g0cx28lsslfMPIi3RGvk"></script>
		<script>
			function ajdeVise() {
				$('.mps').each( function (index, mapContainer) {
					var lat = $(this).data('cords').split(",")[0];
					var lng = $(this).data('cords').split(",")[1];
					$(this).height(350);
					var map = new google.maps.Map(this, {
			        	zoom: 15,
						center: new google.maps.LatLng(lat,lng),
			          	mapTypeId: google.maps.MapTypeId.ROADMAP,
			          	mapTypeControl: true,
			          	scaleControl: true,
			          	navigationControl: true,
			          	navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
			        });
					var marker = new google.maps.Marker({
			        	position: new google.maps.LatLng(lat,lng),
			        	map: map
			        });
	            });
			}
			window.onload = ajdeVise;
		</script>
	</body>
</html>
